<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>
<body>
     <div class="app" style="background-image: url('{{fondo}}')">

<ul class="app__navbar1">

 
    <a href="/" class="app__navlinks">Home</a>
    <a href="/face" class="app__navlinks">Face</a>
    <a href="/lips" class="app__navlinks">Lips</a>
    <a href="/eyes" class="app__navlinks">Eyes</a>
    <a href="/admin" class="app__navlinks-active">Admin</a>
    
</ul>

<div class="app__informacion-hijo">  
    <h1 class="app__informacion-hijo__titulo">{{titulo}}</h1>
     </div>
  
    <h2>General:</h2>
    <table class="general">
        <tr>
            <td>Nombre</td>
            <td>Visitas</td>
            <td>Ultima entrada</td>
            <td>Hora</td>
        </tr>
        {{#each visitas.general}}
        <tr>
            <td>{{url}}</td>
            <td>{{visitas}}</td>
            <td>{{fecha}}</td>
            <td>{{hora}}</td>
        </tr>
         {{/each}}
    </table>

    <br>
    <h2>Registro:</h2>
    <table class="registro">
        <tr>
            <td>Nombre</td>
            <td>Visitas</td>
            <td>Ultima entrada</td>
            <td>Hora</td>
        </tr>
        {{#each visitas.registro}}
        <tr>
            <td>{{url}}</td>
            <td>{{visitas}}</td>
            <td>{{fecha}}</td>
            <td>{{hora}}</td>
        </tr>
         {{/each}}
    </table>


  

  
</div>
</body>
</html>